@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
$primary-link-color: #00B7FF;
body {
  padding: 50px;
  font: 14px $font-stack;
  a {
    color: $primary-link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style-type: none;
    .checked {
      span {
        text-decoration: line-through;
      }
    }
  }
  .todos {
    margin-top: 20px
  }
  .footer div {
    float: left;
    padding: 0 10px;
  }

  .hide {
    display: none;
  }

  .navbar-default {
    background-image: none;
    background-color: #e74c3c;
    border-color: #c0392b;
    .navbar-brand {
      color: #ecf0f1;
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
      font-size: 25px;
      &:hover, &:focus {
        cursor: default;
        color: #ecf0f1;
      }
    }
  }
  
  //login
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}