<form action="#" method="post">
  <div class="form-group input-group">
    <input id="add-todo-text" class="form-control" type="text" value="" placeholder="Add a Todo">
    <span class="input-group-btn">
      <input class="btn btn-default" type="button" value="add">
    </span>
  </div>
</form>