<div class="row">
  <div class="col-xs-12 col-sm-4 text-center">
    <span class="count">{{todos.length}}</span> todos
  </div>
  <div class="col-xs-12 col-sm-4 text-center filter">
      <a class="show-all">all</a> | 
      <a class="show-not-done">not done</a> | 
      <a class="show-done">done</a>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <a class="clear">clear</a>
  </div>
</div>