<li id="{{this._id}}" class="list-group-item">
  <input type="checkbox" {{#if this.done}}checked{{/if}}>
  <span class="{{#if this.done}}checked{{/if}}" contenteditable="true">{{this.text}}</span>
  <a class="pull-right"><small><i class="glyphicon glyphicon-trash"></i></small></a>
</li>