<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todos</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  {{#if error}}
    <h4>{{error}}</h4>
  {{/if}}
  {{> header}}
  {{{body}}}
  <script src='/javascripts/bundle.js'></script>
</body>
</html>