<div class="container">
  <form class="form-signin" action="/register" method="post">
    <h2 class="form-signin-heading">Register</h2>
    
    <label for="inputUsername" class="sr-only">Email address</label>
    <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
</div>